<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header> <% include partials/_header %> </header>
<body>
      <h1>
      <p>Welcome to the TinyApp  - <%=name%> !!<br />Enjoy the magic short URL!</p>
      <% if (user !== urls[shortURL].userID) { %>
        <p>This short URL is not created by you.</p>
      <% } %>
      </h1>
      <%= urls[shortURL].longURL %> - <a href= "<%= urls[shortURL].longURL %>"><%= shortURL %> </a> <br />
      <a href= "/urls"> -> main page</a>
      <form action="/urls/<%=shortURL%>" method="POST" style="margin:150px;">
        <label for="longURL">Enter a new URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update" >
      </form>

</body>
</html>