
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<header> <% include partials/_header %> </header>
<body>
    <% if (user){ %>
      <p>Welcome to the TinyApp  - <%=name[name.length-1]%> !!</p>
      <p> Hope you enjoy !!</p>
    <% } else { %>
      <p>You have logged out!</p>
    <% } %>
    <h1>
      <% for (var url in urls) {  %>
        <form method="POST" action="/urls/<%=url%>/delete" >
        <li>
          <a href = "<%= urls[url].longURL %>"><%= urls[url].shortURL %></a>  - <%= urls[url].longURL %>
          <% if (user === urls[url].userID) { %>
            <a href = "/urls/<%=url%>">Edit</a>
              <input type="submit" value="Delete" >
          <% } %>
        </li>
        </form>
      <% } %>
    </h1>
</body>
</html>